#root {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  width: 120px;
}

.container {
  background-color: black;
  opacity: 0.5;
}

.backgroundImage {
  height: auto;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}